/****************************************************/
/* Suppression des borders,marge,espaces par defaut */
/****************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;

}

/***************************************************************************************************************/
/*********************************************** HEADER SOCIAL *************************************************/
/***************************************************************************************************************/


.header_top {
	display: flex;              /* Transformation en flexbox */
	   	
	width:940px;				/* taille du header complet */
	height:40px;
	
	margin-left: auto;
    margin-right: auto;
		
}

.social_lu {
	
	display: flex;              /* Transformation en flexbox */
	justify-content: right;	/* centrage */
    align-items: center;
    padding:0;                  /* Suppression des marges internes */
    
	list-style-type:none;
	
	width: 940px;
	height:40px;
	
	margin-left: auto;
    margin-right: auto;
	
	
}


/***************************************************************************************************************/
/*********************************************** HEADER LEFT + RIGHT *******************************************/
/***************************************************************************************************************/


.middle {
	   
   	
	width:940px;				/* taille du header complet */
	height:84px;
	
	margin-left: auto;
    margin-right: auto;
		
}


/***************************************************************************************************************/
/*********************************************** HEADER LEFT  **************************************************/
/**************************************************************************************************************/

.header_middle_left {
		   
   	float:left; 
	width:620px;				/* taille du header complet */
	height:64px;
		
}

.block_top_gauche {
	
	display: flex;              /* Transformation en flexbox */
	justify-content:left;	/* centrage */
    align-items: center;
    padding:0;                  /* Suppression des marges internes */
    
	list-style-type:none;
	
	width:620px;
	height:64px;
	
	
}


.form_head_left {
	display:flex; 
    justify-content: left;	/* centrage */
    align-items: center;
	
	width: 260px;
	height: 35px;
	
}	


.form_head_left_input{
	
	height: 35px;
	width:100%;
	
}	

.image_logo_koo2 {
		   	
	width:240px;
	height:64px;
		
}


.boutton_ok {
	
	display:flex;
	
	justify-content: center;	/* centrage */
    align-items: center;
	
	width:50px;
	height:35px;
	
	
	color:white;
	background-color:#a50166;
	border: 1px solid black;
	border-left: none;
	font-size: 24px;
    font-weight: bold;
	
}

.slogan {
	
	display:flex;                /* Transformation en flexbox */
	justify-content: center;	/* centrage */
    align-items: center;
		
    width:100%;
	height:35px;
	   	
		
	font-size: 24px;
    font-weight: bold;
}

/***************************************************************************************************************/
/*********************************************** HEADER RIGHT  *************************************************/
/***************************************************************************************************************/

.header_middle_right {
		   
   	float:right;
	width:300px;				/* taille du header complet */
	height:64px;
	
	
	list-style-type:none;	/* Suppression des marges internes */
	
	
}

.block_top_droit {
	
	display: flex;              /* Transformation en flexbox */
	//justify-content: left;	/* centrage */
    align-items: center;
    padding:0;                  /* Suppression des marges internes */
    
	list-style-type:none;
	
	width:320 px;
	height:64 px;
	
	
}


.connect {
	display: flex;              /* Transformation en flexbox */
	justify-content: center;	/* centrage */
    align-items: center;
   	
	width:140px;
	height:35px;
		
	background-color: #aad500;     /* Ajout de la couleur d'arrière-plan */
	color:white;
	
}

.compte {
	display: flex;              /* Transformation en flexbox */
	justify-content: center;
	align-items: center;
     
	
	width:140px;
	height:35px;
		
	background-color: #3567b0; /* Ajout de la couleur d'arrière-plan */
	color:white;    
	
}


.depot_recette {
	
	display: flex;              /* Transformation en flexbox */
	justify-content: center;
	align-items: center;
    	
	
	width:300px;
	height:35px;
		
	background-color:#a50166;	/* Ajout de la couleur d'arrière-plan */
	color:white;
	
}
	

/***************************************************************************************************************/
/*********************************************** MENU BANDEAU TOP  *********************************************/
/***************************************************************************************************************/

.Menu_top {
	display: flex;              /* Transformation en flexbox */
	justify-content: center;	/* centrage */
	align-items: center;
    
   	
	width:940px;				/* taille du bandeau */
	height:45px;
	
	margin-left: auto;
    margin-right: auto;
	
	padding:0;                  /* Suppression des marges internes */
	
	background-color:#a50166;     /* Ajout de la couleur d'arrière-plan */
	
}

.menu_top_ul {
    display: flex;              /* Transformation en flexbox */
	justify-content: center;	/* centrage */
    align-items: center;
    padding:0;                  /* Suppression des marges internes */
    
	list-style-type:none;
	
	width:100%;
	height:100%;
		
}

.menu_top_ul li {
    list-style-type: none ;       /* Suppression des puces */
	width: 16.5%;		/* largeur en % rapport aux nb de cellules  (100/6 -> 16.5)*/
		
}


.menu_top_ul li a {
    display:flex;                /* Transformation en flexbox */
   	text-align: center;
	height:100%;
	
	justify-content: center;	/* centrage */
    align-items: center;
	background-color:#a50166;
	color: White;
	text-decoration: none;
	
}

/***************************************************************************************************************/
/*********************************************** BLOCK SLIDER  *************************************************/
/***************************************************************************************************************/


.bandeau1 {
	display: flex;              /* Transformation en flexbox */
	justify-content: center;	/* centrage */
	align-items: center;
    
   	
	width:940px;				/* taille du bandeau */
	height:300px;
	
	margin-left: auto;
    margin-right: auto;
		
}

.bandeau1_ul {
    display: flex;              /* Transformation en flexbox */
	    
	list-style-type:none;
	
	width:100%;
	height:100%;
		
}


.bandeau1_ul li {
    list-style-type: none ;       /* Suppression des puces */
	
}

.image_gauche {
	display:flex;                /* Transformation en flexbox */
   	
	width:620px;
	height:100%;	
	
}

.block1 {
	display:flex;                /* Transformation en flexbox */
   	text-align: center;
	width:140px;
	height:100%;
	
	justify-content: center;	/* centrage */
    align-items: center;
	background-color:#a50166;
	color: White;
	text-decoration: none;
	
}

.block2 {
	display:flex;                /* Transformation en flexbox */
   	text-align: center;
	width:140px;
	height:100%;
	
	justify-content: center;	/* centrage */
    align-items: center;
	background-color:#3567b0;
	color: White;
	text-decoration: none;
	
}
	
.sep_vertical {

	//display:flex;
	
	width:20px;
	height:100%;
	
	
	background-color: white;
	list-style-type:none;
	
}


/***************************************************************************************************************/
/*********************************************** BANDEAU RECETTE DU JOUR  **************************************/
/***************************************************************************************************************/


	
.bandeau_recette_jour {
	display: flex;              /* Transformation en flexbox */
	justify-content: left;	/* centrage */
	align-items: center;
    
   	
	width:940px;				/* taille du bandeau */
	height:45px;
	
	margin-left: auto;
    margin-right: auto;
	   
	
	background-color:#a50166;     /* Ajout de la couleur d'arrière-plan */
	
	font-size: 30px;
    
	color:white;
	
}
	
/***************************************************************************************************************/
/*********************************************** BLOC RECETTE DU JOUR  *********************************************/
/***************************************************************************************************************/


.recette_jour  {
	   	
	width:940px;				/* taille du bandeau */
	height:360px;
	
	margin-left: auto;
    margin-right: auto;
		
}	
	
.bloc_recette_jour {
	
	display: flex;              /* Transformation en flexbox */
	   	
	width:300px;				/* taille du bandeau */
	height:360px;

}

.bloc_recette_jour_ul {
    display: flex;              /* Transformation en flexbox */
	
    padding:0;                  /* Suppression des marges internes */
    
	list-style-type:none;
		
	width:300px;				/* taille du bandeau */
	height:360px;
		
}

.container_recette {
	
	list-style-type:none;
	
	width:300px;				/* taille du bandeau */
	height:360px;
}
	

.photo_recette_jour {
	   	
	width:100%;				/* taille du bandeau */
	height:160px;
			
}


.recette_jour img {
	
	width:100%;				/* taille du bandeau */
	height:160px;
	
}

.desc_recette_jour {
	   	
	width:100%;				/* taille du bandeau */
	height:140px;
	
}
	
.poste_par {
		   	
	width:100%;				/* taille du bandeau */
	height:60px;
	
}


.auteur_recette {
	
	display: flex; 	/* Transformation en flexbox */
	
	justify-content: left;	/* centrage */
	align-items: center;
	
                  
	list-style-type:none;
		
	width:100%;				/* taille du bandeau */
	height:60px;
	
	
}

.avatars_auteur img {
		
	width:45px;
	height:45px;

}

.nom_auteur {
		
	justify-content: left;	/* centrage */
	align-items: center;

}



/***************************************************************************************************************/
/*********************************************** BLOCK FIN DE PAGE  ********************************************/
/***************************************************************************************************************/

.block_fin_page {
	display: flex;              /* Transformation en flexbox */
	justify-content: left;	/* centrage */
	align-items: center;
    
   	
	width:940px;				/* taille du bandeau */
	height:120px;
	
	margin-left: auto;
    margin-right: auto;
	
	padding:0;                  /* Suppression des marges internes */
	
	background-color:BLACK;     /* Ajout de la couleur d'arrière-plan */
	
	
	
}



/*  TEMP */

.top {
    display: flex;              /* Transformation en flexbox */
	//justify-content: left;	/* centrage */
    align-items: center;
    padding:0;                  /* Suppression des marges internes */
    
	list-style-type:none;
	
	width:620px;
	height:64px;
	
	
	border: 1px solid red;
	background-color: #ccc1;     /* Ajout de la couleur d'arrière-plan */
	
}

/*
border: 1px solid red;
background-color: #3567b0;
*/