header{
    background-image: url(portfoluo/demacia/flat-illustration-abstract-digital-technology-background_979520-2626.avif);
    background-size: cover;
    height: 1000px;
    background-position: center;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 100px;
}

p {
    display: flex;
    justify-content: center;
    font-size: 25px;
    
}

img {
    width: 50%;
   
}

.cuisine {
    margin-right: 3px;
}

.image {
    display: flex;

}

h2 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: normal;
}




